<admin-navbar></admin-navbar>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Add Shift</title>
</head>
<body>
<h1>Add Shift</h1>
<form>
	<label for="employee_id">Employee</label>
	<select id="employee_id">
		<!-- going to have to be a select of Employees -->
		<option>Employee Name</option>
	</select>
	<label for="day">Day</label>
	<input type="date" id="day">
	<label for="start_time">Start Time</label>
	<input type="time" id="start_time">
	<label for="end_time">End Time</label>
	<input type="time" id="end_time">
</form>
</body>
</html>