<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/admin/dashboard">Admin Dashboard</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/addemployee">Add an employee</a></li>
        <li><a href="#/addshift">Add shift</a></li>
        <li><a href="#/showallemployees">All Employees</a></li>
        <li><a href="#/dashboard">Switch to User View</a></li>
        <li><a href="#/">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>