<admin-navbar></admin-navbar>

<style>
	h2 {
		padding-bottom: 20px;
	}

</style>

<h2>Edit Employee</h2>

<form class="form-horizontal">
	<div class="form-group">
		<label class="col-md-2 label-control" for="first_name">First name:</label>
		<div class="col-md-3">
			<input type="text" class="form-control" id="first_name" ng-model="editEmpCtrl.oneEmployee[0].first_name">
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 label-control" for="last_name">Last Name:</label>
		<div class="col-md-3">
			<input type="text" class="form-control" id="last_name" ng-model="editEmpCtrl.oneEmployee[0].last_name">
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 label-control" for="email">Email: </label>
		<div class="col-md-3">
			<input type="text" class="form-control" id="email" ng-model="editEmpCtrl.oneEmployee[0].email">
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 label-control" for="phone_number">Password:</label>
		<div class="col-md-3">
			<input type="text" class="form-control" id="phone_number" ng-model="editEmpCtrl.oneEmployee[0].password">
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 label-control" for="last_name">Address:</label>
		<div class="col-md-3">
			<input type="text" class="form-control" id="last_name" ng-model="editEmpCtrl.oneEmployee[0].address">
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 label-control" for="phone_number">Phone number:</label>
		<div class="col-md-3">
			<input type="text" class="form-control" id="phone_number" ng-model="editEmpCtrl.oneEmployee[0].phone_number">
		</div>
	</div>
	<div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
		<button class='btn btn-danger' ng-click ='editEmpCtrl.deleteEmployee(editEmpCtrl.oneEmployee[0].id)'>Delete</button>
		<button class ='btn btn-primary col-lg-offset-1' ng-click ='editEmpCtrl.editEmployee()'> Edit </button>
	</div>
   	</div>
</form>



