	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/dashboard">My Schedule</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/myrequests">My Requests</a></li>
            <li><a href="#/myaccount">My Account</a></li>
            <li><a href="">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>


<h3>My account </h3>


<h4>First name: </h4>
<h4>Last name: </h4>
<h4>Email: </h4>  <a href =""> Edit </a>
<h4>Password: ************</h4> <a href =""> Edit </a>
<h4>Phone number: (206)123-1234 </h4>


